@font-face {
  font-family: 'customIcon';
    src:  url('../icons/custom-icon.eot?dfd721');
    src:  url('../icons/custom-icon.eot?dfd721#iefix') format('embedded-opentype'),
      url('../icons/custom-icon.ttf?dfd721') format('truetype'),
      url('../icons/custom-icon.woff?dfd721') format('woff'),
      url('../icons/custom-icon.svg?dfd721#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.custom-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customIcon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-order:before {
  content: "\e93e";
}
.icon-customer:before {
  content: "\e93f";
}
.icon-setting:before {
  content: "\e940";
}
.icon-report:before {
  content: "\e941";
}
.icon-transactions:before {
  content: "\e942";
}
.icon-pos:before {
  content: "\e92f";
}
.icon-Inventory:before {
  content: "\e930";
}
.icon-staff-user:before {
  content: "\e931";
}
.icon-credit-card .path1:before {
  content: "\e932";
  color: rgb(136, 136, 144);
}
.icon-credit-card .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(86, 83, 90);
}
.icon-credit-card .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 220, 64);
}
.icon-credit-card .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 104, 73);
}
.icon-credit-card .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 234, 132);
}
.icon-credit-card .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-credit-card .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-credit-card .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 220, 64);
}
.icon-credit-card .path9:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 171, 21);
}
.icon-credit-card .path10:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 234, 132);
}
.icon-credit-card .path11:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 220, 64);
}
.icon-credit-card .path12:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(242, 242, 244);
}
.icon-tip:before {
  content: "\e92e";
}
.icon-trash:before {
  content: "\e92d";
}
.icon-new_device:before {
  content: "\e924";
}
.icon-shop1:before {
  content: "\e925";
}
.icon-shop:before {
  content: "\e926";
}
.icon-target:before {
  content: "\e928";
}
.icon-refunding:before {
  content: "\e92b";
}
.icon-cards:before {
  content: "\e92c";
}
.icon-pay:before {
  content: "\e91f";
}
.icon-wallet:before {
  content: "\e920";
}
.icon-wealth:before {
  content: "\e921";
}
.icon-sign-out:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e900";
}
.icon-e-gift-Card:before {
  content: "\e902";
}
.icon-Employee-wise:before {
  content: "\e903";
}
.icon-Plastic-Gift-Card:before {
  content: "\e904";
}
.icon-Product-Wise-Sales:before {
  content: "\e905";
}
.icon-payment-Type:before {
  content: "\e906";
}
.icon-Category-Wise:before {
  content: "\e907";
}
.icon-modifier:before {
  content: "\e908";
}
.icon-product:before {
  content: "\e909";
}
.icon-receipt:before {
  content: "\e90a";
}
.icon-sales_summary:before {
  content: "\e90b";
}
.icon-sections:before {
  content: "\e90c";
}
.icon-settings:before {
  content: "\e90d";
}
.icon-subscriptions:before {
  content: "\e90e";
}
.icon-tax:before {
  content: "\e90f";
}
.icon-discount:before {
  content: "\e910";
}
.icon-taxes_report:before {
  content: "\e911";
}
.icon-timecards:before {
  content: "\e912";
}
.icon-section:before {
  content: "\e913";
}
.icon-floor:before {
  content: "\e914";
}
.icon-user_group:before {
  content: "\e915";
}
.icon-all_transactions:before {
  content: "\e916";
}
.icon-authorized_representative:before {
  content: "\e917";
}
.icon-category:before {
  content: "\e918";
}
.icon-company_setting:before {
  content: "\e919";
}
.icon-deposit_reports:before {
  content: "\e91a";
}
.icon-devices:before {
  content: "\e91b";
}
.icon-directory:before {
  content: "\e91c";
}
.icon-membership:before {
  content: "\e91d";
}
.icon-dining:before {
  content: "\e91e";
}
.icon-email_notifications:before {
  content: "\e922";
}
.icon-feedback:before {
  content: "\e923";
}
.icon-floor_plans:before {
  content: "\e927";
}
.icon-ingredients:before {
  content: "\e929";
}
.icon-menu:before {
  content: "\e92a";
}