<div class="doNotPrint">
    <div class="dashboar">
      <div class="leftMenuBar1">
        <!-- <div class="logo text-center">
        <a href="javascript:void(0)"><img src="../assets/images/Group.png"></a>
      </div> -->
        <div class="logo text-center">
          <img class="mt10" src="../assets/images/Group.png">
        </div>
        <div class="menue text-center" [ngClass]="sidebarActiveLabel=='openSidebar'?'active':''">
          <a href="javascript:void(0)" (click)="toggleSidemenu()"> <span class="fIcon icon-list ifit"></span></a>
        </div>
        <div class="bst">
          <!-- <div class="menue text-center">
          <a href="javascript:void(0)"><span class="fIcon icon-settings32 ifit"></span></a>
        </div>
        <div class="menue text-center">
          <a href="javascript:void(0)"><span class="fIcon icon-notifications2 ifit"></span></a>
        </div>
        <div class="menue text-center">
          <a href="javascript:void(0)">
            <img class="help" src="../assets/images/help.png">
          </a>
        </div> -->
          <div class="avatar" (click)="ToggleFlyList()">
            <h4 class="avatar-text">{{initials}}</h4>
            <!-- <a class="stc6 btn-dark" href="javascript:void(0)" (click)="logout()">Logout</a> -->
          </div>
          <!-- <img src="../assets/images/maintenance-mode.gif"> -->
          <div *ngIf="showFlylist" class="flylist">
            <div class="flylist-link">
              <a class="" *ngIf="userPermission.includes(urlMap.profile)" (click)="goToRoute('/user/profile/','av')">
                <i class="custom-icon icon-user pr10"></i>Profile</a>
              <a class="" href="javascript:void(0)" (click)="logout()">
                <i class="custom-icon icon-sign-out pr10"></i>Logout</a>
            </div>
          </div>
        </div>
      </div>
      <!-- SideMenue -->
      <div id="1" class="sideMenue {{toggleSidemenuClass}}" (click)="toggleSidemenu()">
        <div class="form-group" *ngIf="sidemenuToggle">
          <!-- <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Search"> -->
          <h3 class="title">Sygnio Sections</h3>
          <div *ngIf="userPermission.includes(urlMap.dashboard)" 
            class="sideMenueWidgit text-center bg-orange" (click)="goToRoute('/user/dashboard')">
            <!-- <img class="mb10" src="../assets/images/dashboard.png"> -->
            <i class="custom-icon icon-menu"></i>
            <p>Dashboard</p>
          </div>
          <!-- <div *ngIf="userPermission.includes(urlMap.membership)" style="background: #05DCC2;"
          class="sideMenueWidgit text-center" (click)="goToRoute('/user/membership')">
          <img class="mb10" src="../assets/images/profile.png">
          <p>Membership</p>
        </div> -->
          <div *ngIf="userPermission.includes(urlMap.staff)" 
            class="sideMenueWidgit text-center bg-yellow" (click)="goToRoute('/user/staff/group')">
            <!-- <img class="mb10" src="../assets/images/Staff_management.png"> -->
            <i class="custom-icon icon-menu"></i>
            <p>Staff Management</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.fmanage)"  
            class="sideMenueWidgit text-center bg-floor" (click)="goToRoute('/user/fmanage/floor')">
            <i class="custom-icon icon-floor"></i>
            <p>Floor Management</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.inventory)"  
            class="sideMenueWidgit text-center bg-green" (click)="goToRoute('/user/inventory/')">
            <!-- <img class="mb10" src="../assets/images/Inventory_management.png"> -->
            <i class="custom-icon icon-menu"></i>
            <p>Inventory Management</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.pos)" 
            class="sideMenueWidgit text-center bg-pos" (click)="goToRoute('/user/pos')">
            <i class="custom-icon icon-floor"></i>
            <p>POS</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.transactions)" 
            class="sideMenueWidgit text-center bg-transaction" (click)="goToRoute('/user/transactions/directory')">
            <i class="custom-icon icon-floor"></i>
            <p>Transactions</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.report)"
            class="sideMenueWidgit text-center bg-report" (click)="goToRoute('/user/report/')">
            <i class="custom-icon icon-floor"></i>
            <p>Reports</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.customers)" [ngClass]="{'sideMenueWidgit-active': true}"
            class="sideMenueWidgit text-center bg-customer" (click)="goToRoute('/user/customers/directory')">
            <i class="custom-icon icon-floor"></i>
            <p>Customers</p>
          </div>
          <div *ngIf="userPermission.includes(urlMap.settings)" [ngClass]="{'sideMenueWidgit-active': true}" 
            class="sideMenueWidgit text-center bg-setting" (click)="goToRoute('/user/settings/company-settings')">
            <i class="custom-icon icon-floor"></i>
            <p>Settings</p>
          </div>
          <!-- <div *ngIf="userPermission.includes(urlMap['gift-cards'])" style="background: #16CAF1;"
          class="sideMenueWidgit text-center" (click)="goToRoute('/user/gift-cards/egift-cards')">
          <img class="mb10" src="../assets/images/Gift_cards.png">
          <p>Gift cards</p>
        </div> -->
          <div *ngIf="userPermission.includes(urlMap['order'])"
            class="sideMenueWidgit text-center bg-orders" (click)="goToRoute('/user/order')">
            <i class="custom-icon icon-floor"></i>
            <p>Orders</p>
          </div>
          <!-- <div style="background: #4D77A7; cursor:pointer;" class="sideMenueWidgit text-center">
          <img class="mb10" src="../assets/images/Deposits.png">
          <p>Deposits</p>
        </div> -->
        </div>
      </div>
      <!-- SideMenue End -->
    </div>
  </div>